.btn--primary{
    background-color: #f0d701;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.btn--primary:hover{
    background-color: #f0ba01;
    margin-top: 20px;
}
.hero .container {
    position: relative;
}
.hero .content-hero {
    width: 100%;
    height: 322px;
    position: relative;
    z-index: 1;
    padding: 32px;
    margin-top: 86px;
}
.hero .hero-bg {
    width: 100%;
    height: calc(100vh - 574px);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-image: url("/assets/img/img-home/sala-cinema1.jpg");
}
.cards-home {
    padding: 0 32px 32px;
    text-align: center;
}
.cards-home .container h2{
    padding: 32px 0 16px;
}
.cards-home .content-cards-home {
    width: 100%;
    min-height: 882px;
    height: 366px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.cards-home .content-cards-home .card-home{
    width: 100%;
}
.card img {
    width: 100%;
    height: 300px;
    max-height: 282px;
    object-fit: cover;
    border-radius: 1em;
}
.card {
    width: 100%;
    height: 100%;
    float: left;
    perspective: 500px;
    border-radius: 1em;
    background: linear-gradient(0deg, rgb(31, 31, 43) 0%, rgb(47, 48, 59) 100%)
  }
  .content {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1em;
    background: linear-gradient(0deg, rgb(31, 31, 43) 0%, rgb(47, 48, 59) 100%)
  }
  
  .back {
    background: #000;
    color: #f0ba01;
    transform: rotateY( 180deg );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }

footer{
    background-color: #000;
}
footer .container{
    display: flex;
    flex-direction: column;
    height: 98px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
footer .container .text-3{
    color: #fff;
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
@media (min-width: 80em) {
    .hero{
        height: calc(100vh - 344px);
    }
    .hero .hero-bg {
        height: calc(100vh - 322px);
    }
    .hero .container {
        margin-top: 0px;
        position: relative;
    }
    .hero .content-hero{
        width: 100%;
        padding: 138px 0px;
        margin-top: 0;
    }
    .hero .content-hero h1 {
        margin-bottom: 30px;
    }
    .hero .content-hero h2 {
        max-width: 355px;
        margin-bottom: 20px;
    }
    .cards-home {
        padding: 64px 0;
    }
    .cards-home .container h2{
        margin-bottom: 16px;
        padding: 0px;
        text-align: left;
    }
    .cards-home .content-cards-home{
        width: 100%;
        min-height: 366px;
        height: 366px;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .cards-home .content-cards-home .card-home{
        width: 100%;
    }
    .cards-home .content-cards-home img{
        width: 100%;
        height: 100%;
        max-height: 365px;
        object-fit: cover;
    }
    footer .container{
        height: 126px;
    }
    footer .container .text-3{
        color: #fff;
        padding-top: 8px 0;
    }
    footer img{
        width: 60px;
        height: 60px;
    }
}