.card-principal-genero {
    padding-top: 40px;
}
.card-principal-genero .img-principal {
    padding-top: 7em;
    padding-bottom: 4%;
}
img {
    max-width: 100%;
    height: auto;
}
.cards-generos {
    padding: 17px;
}
.cards-generos .container h2 {
    padding: 32px 0 16px; 
}
.cards-generos .content-cards-generos {
    display: flex;
    flex-direction: row;
    gap: 32px;
    overflow: hidden;
}
.cards-generos .content-cards-generos .card-genero {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-generos .content-cards-generos img {
    width: 100%;
    max-height: 100%; 
    height: auto; 
    object-fit: contain;
    border-radius: 1em;
    transition: transform .7s;
}
.cards-generos .content-cards-generos img:hover{
    transform: scale(1.10);
    opacity: 0.4;
}
.carousel-inner{
    padding-top: 32px;
    padding: 17px;
}
.carousel-item{
    height: auto;
}
.carousel img{
    min-height: 200px;
    max-height: 200px;
    object-fit:cover;
}
.w-100 {
    border-radius: 1em 1em 1em 1em;
}
.height-carousel{
    margin-top: 64px;
}
footer{
    background-color: #000;
}
footer .container{
    display: flex;
    flex-direction: column;
    height: 98px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
footer .container .text-3{
    color: #fff;
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* @media (min-width: 80em) {.card-principal-genero { */
@media all and (max-width: 767px) {.card-principal-genero { 
    padding-top: 40px; 
}
.card-principal-genero .img-principal {
    padding-top: 7em;
    padding-bottom: 4%;
}
img {
    max-width: 100%;
    height: auto;
}
.cards-generos {
    padding: 0 32px 32px;
}
.cards-generos .container h2 {
    padding: 32px 0 16px; 
}
.cards-generos .content-cards-generos {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
}
.cards-generos .content-cards-generos .card-genero {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-generos .content-cards-generos img {
    width: 100%;
    max-height: 100%; 
    height: auto; 
    object-fit: contain;
    border-radius: 1em;
    transition: transform .7s;
}
.carousel-inner{
    padding-top: 32px;
}
.carousel-item{
    height: 300px;
}
.carousel img{
    max-height: 300px;
    object-fit:cover;
}
.w-100 {
    border-radius: 1em 1em 1em 1em;
}
.height-carousel{
    margin-top: 64px;
}
footer .container{
    height: 126px;
}
footer .container .text-3{
    color: #fff;
    padding-top: 8px 0;
}
footer img{
    width: 60px;
    height: 60px;
}
}
