main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}
footer {
    background-color: #000;
}


footer .container{
    display: flex;
    flex-direction: column;
    height: 126px;
    justify-content: center;
    align-items: center;
}
footer .container .text-3{
    color: #fff;
    padding-top: 8px 0;
}
footer img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@media (min-width: 80em) {

    .oscar, .Vencedor {
        padding-left: 10em;
        padding-bottom: 5em;
        display: inline-block;
    }

    .Vencedor {
        padding-top: 7em;
    }

    .Vencedor .img-a a img {
        border-radius: 2em;
        display: inline-block;
        
    }

    .oscar .primeira_linha {
        width: 100%;
        height: auto;
        display: flex;
        gap: 16px;
        
    }

    .oscar .primeira_linha p { 
        color: #fff;
        padding-top: none;
        padding-bottom: 3em;
    }

   .oscar .primeira_linha .Nada_de_Novo_no_Front a img {
    width: 20em;
    height: 15em;
    display: inline-block;
    object-fit: cover;
    border-radius: 3em;
    margin-right: 6em;
   }

   .oscar .primeira_linha .Avatar a img {
    width: 20em;
    height: 15em;
    display: inline-block;
    object-fit: cover;
    border-radius: 3em;
    margin-right: 6em;
   }

   .oscar .primeira_linha .Os_Banshees_de_Inisherin a img {
    width: 20em;
    height: 15em;
    display: inline-block;
    object-fit: fill;
    border-radius: 3em;
    margin-right: 6em;
   }


    .oscar .segunda_linha {
        width: 100%;
        height: auto;
        display: flex;
        gap: 16px;
}

.oscar .segunda_linha p { 
    color: #fff;
    padding-bottom: 3em;
    
}

    .oscar .segunda_linha .elvis a img {
        width: 20em;
        height: 15em;
        display: inline-block;
        object-fit: cover;
        border-radius: 3em;
        margin-right: 6em;
    }

    .oscar .segunda_linha .Fabelmans a img {
        width: 20em;
        height: 15em;
        display: inline-block;
        object-fit: cover;
        border-radius: 3em;
        margin-right: 6em;
    }
    .oscar .segunda_linha .Tár a img {
        width: 20em;
        height: 15em;
        display: inline-block;
        object-fit: cover;
        border-radius: 3em;
        margin-right: 6em;
    }

    .oscar .terceira_linha {
        width: 100%;
        height: auto;
        display: flex;
        gap: 16px;
    }

    .oscar .terceira_linha p { 
        color: #fff;
        padding-bottom: 3em;
    }

    .oscar .terceira_linha .Maverick a img {
        width: 20em;
        height: 15em;
        display: inline-block;
        object-fit: cover;
        border-radius: 3em;    margin-right: 6em;
        }

    .oscar .terceira_linha .Triângulo_Tristeza a img {
        width: 20em;
        height: 15em;
        display: inline-block;
        object-fit: cover;
        border-radius: 3em;
        margin-right: 6em;
    }

    .oscar .terceira_linha .Entre_Mulheres a img {
        width: 20em;
        height: 15em;
        display: inline-block;
        object-fit: cover;
        border-radius: 3em;
        margin-right: 6em;
    }
}