@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*:before,
*:after {
 box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.content{
    padding: 30px;
}

html {
    font-size: 16px;
    line-height: 19px;
    background: rgb(31,31,43);
    background: linear-gradient(0deg, rgba(31,31,43,1) 0%, rgba(47,48,59,1) 100%);
}

body{
    overflow-x: hidden;
    color: #fff;
}

main{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    line-height: 1.4;
    margin-left: 10px;
}

ul, li{
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.banner_avatar{
    width: 80%;
    height: 80%;
}

@media all and (max-width:767px){

    .banner_avatar{
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
    }
    
    .container#trailer{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    #trailer img text{
        max-width: 340px;
        padding: 30px;
        justify-content: center;
    }
    
    .filmes_similares{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 1em;
        margin-bottom: 30px;
    }

}


@media all and (min-width: 768px
        max-width:1023px) {

        .banner_avatar{
            width: 100%;
            height: auto;
            display: block;
            justify-content: center;
        }

    .content #caracteristicas{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column ;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: normal;
        width: 700px;
        margin-bottom: 10px;
        padding: 30px;
    }

    .container #trailer{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: center;
    }

    #trailer{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: center;
        gap: 15px;
        margin-bottom: 60px;
        text-align: center;
        object-fit: cover;
        transition: transform .7s;
    }

    #trailer1 #trailer2 #trailer3 img {
        max-width: 365px;
        height: 201px;
        padding-bottom: 20px;
        align-items:flex-start;
    }

    .filmes_similares{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        margin-top: 20px;
        margin-bottom: 60px;
        height: auto;
    }

    .filmes_similares .filmefundacao img{
        width: 345px;
        height: 470px;
        object-fit: cover;
        border-radius: 1em;
        transition: transform .7s;
        border-radius: 10px;
    }

    .filmes_similares .filmefundacao img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

    .filmes_similares .filmeArmageddon img{
        width: 345px;
        height: 470px;
        object-fit: cover;
        border-radius: 1em;
        transition: transform .7s;
    }

    .filmes_similares .filmeArmageddon img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

    .filmes_similares .filmeprimeiroencontro img{
        width: 345px;
        height: 470px;
        object-fit: cover;
        border-radius: 1em;
        transition: transform .7s;
        border-radius: 10px;
    }

    .filmes_similares .filmeprimeiroencontro img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }
  
}

@media (min-width: 1024px){

    .banner_avatar{
        width: 1024px;
        height: auto;
        display: block;
        justify-content: center;
    }

    .container {
        width: 100%;
    }

    .content #caracteristicas{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column ;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: normal;
        width: 1135px;
        margin-bottom: 10px;
    }

    #trailer{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        margin-left: 50px;
        margin-bottom: 10px;
        padding-right: 30px;
        object-fit: cover;
        transition: transform .7s;
    }

    #trailer1 #trailer2 #trailer3 img {
        max-width: 365px;
        height: 201px;
        padding-bottom: 20px;
    }

    #trailer1 img {
        object-fit: cover;
        transition: transform .7s;
        border-radius: 10px;
    }

    #trailer .trailer1 img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

   #trailer2 img {
        object-fit: cover;
        transition: transform .7s;
        border-radius: 10px;
    }

    #trailer .trailer2 img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

    #trailer3 img {
        object-fit: cover;
        transition: transform .7s;
        border-radius: 10px;
    }

    #trailer .trailer3 img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

    

    .filmes_similares{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 35px;
        margin-top: 20px;
        margin-bottom: 60px;
        height: auto;
    }

    .filmes_similares .filmefundacao img{
        width: 345px;
        height: 470px;
        object-fit: cover;
        border-radius: 1em;
        transition: transform .7s;
        border-radius: 10px;
    }

    .filmes_similares .filmefundacao img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

    .filmes_similares .filmeArmageddon img{
        width: 345px;
        height: 470px;
        object-fit: cover;
        border-radius: 1em;
        transition: transform .7s;
    }

    .filmes_similares .filmeArmageddon img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

    .filmes_similares .filmeprimeiroencontro img{
        width: 345px;
        height: 470px;
        object-fit: cover;
        border-radius: 1em;
        transition: transform .7s;
        border-radius: 10px;
    }

    .filmes_similares .filmeprimeiroencontro img:hover{
        transform: scale(1.10);
        opacity: 0.4;
    }

}

footer {
    background-color: #000;
}

footer .container{
    display: flex;
    flex-direction: column;
    height: 126px;
    justify-content: center;
    align-items: center;
}
footer .container .text-3{
    color: #fff;
    padding-top: 8px 0;
}
footer img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
