#grade{
    display: grid;
    grid-template-areas:
    "card titulo titulo"
    "card caracteristicas caracteristicas"
    "sinopse sinopse sinopse"
    "trailers trailers trailers"
    "filmes_similares filmes_similares filmes_similares"
    "footer footer footer";
    background-color: black;
    color: aliceblue;
    grid-template-columns: 550px 500px 400px;
    grid-template-rows: 100px 500px 400px 350px 700px 300px;
    font-family:Arial;
    grid-area: 20px;    
}

aside#card{
    grid-area: card;
    justify-self: start;
    margin: 30px;
}

#card img{
    max-width: 450px;
}

div#titulo{
    grid-area: titulo;
    font-style: bold;
    font-size: 20px;
    align-self: flex-end
}

section#caracteristicas{
    grid-area: caracteristicas;
    font-style:normal;
    font-size: 14px;
    justify-self: start;
}


#caracteristicas li{
    padding-top: 20px;
}

section#sinopse{
    grid-area: sinopse;
    font-style: normal;
    font-size: 14px;
    margin: 50px;
}

section#trailers{
    grid-area: trailers;
    font-style: bold;
    font-size: 14px;
    margin: 50px;
}

#trailers iframe{
    padding-right: 10px;
    padding-left: 10px;
}

section#filmes_similares{
    grid-area: filmes_similares;
    font-style: bold;
    font-size: 14px;
    margin: 50px;
}

#filmes_similares img{
    padding-right: 80px;
}

footer{
    grid-area: footer;
    margin: 50px;
    align-self: center;
}